<%- include("partials/header.ejs")  %>

<div class="text-container">

<h1>Blog Projet</h1>
<h2>Capstone Projet of Full Stack Webdeveloper Boocamp</h2>
<p>
    Hi there! This blog is a simple training project on my journey to become a full-stack developer. It's built with Node.js, Express.js, and EJS.
</p>
<p>
    What's fun here is that every visitor can create their own temporary blog posts! Since there's no database attached, all posts are just temporary, allowing for a playful and hands-on experience with the web application.
</p>
<p>
    Feel free to create a post and see how it looks. Enjoy your visit, and thanks for stopping by!
</p>

<form action="/write" style="display: inline;">
    <button type="submit">Write a new Blogpost</button>
</form>
<% if (posts.length === 0) { %>
<li>No posts written yet</li>
<% } else { %>
<% posts.forEach(function(post, index){ %>
    <div>
    <h2><a href="/posts/<%= index %>"><%= post.title %></a></h2>
    </div>
<% })} %>

</div>

<%- include("partials/footer.ejs")  %>